perft
perft_diag
engine_tests
perft_tests
perft_debug
perft_diag_debug
perft_validate
perft_diag_validate
engine_tests_debug
perft_tests_debug
engine_tests_validate
perft_tests_validate
chilo
chilo_debug
chilo_validate
selfplay_collect
selfplay_collect_debug
selfplay_collect_validate
*.exe
__pycache__/
*.o
*.out
*.pt
*.npy
